<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<div class="page-wrapper">

  <!-- menu sidebar-->
  <aside class="menu-sidebar d-none d-lg-block">
    <app-product-category-menu></app-product-category-menu>
  </aside>
  <!-- end menu sidebar-->

  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <div class="logo">
        <a routerLink="/products">
          <img src="assets/images/logo.png" alt="sneakerhub" width="120px" class="img-responsive">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngFor="let tempCategory of categories" class="nav-item">
            <a routerLink="/category/{{tempCategory.id}}/{{ tempCategory.category_name }}"
              routerLinkActive="active-link" class="nav-link">
              {{tempCategory.category_name}}
            </a>
          </li>
        </ul>

      </div>
      <app-search></app-search>
      <app-cart-status></app-cart-status>
    </div>
  </nav>

  <!-- page container-->
  <div class="page-container">
    <!-- products content : define router outlet-->
    <router-outlet></router-outlet>
    <!-- end page container-->

    <footer>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
        <li><a routerLink="/products-admin">Admin</a></li>
      </ul>
    </footer>